name: mac Xcode

on:
  workflow_dispatch:
  push:
    branches: [ develop ]
    
jobs:
  build:
    name: Generate Xcode project
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Install Dependencies
        run: brew install curl openssl libaec
      - name: Generate Xcode project
        run: |
          export OPENSSL_ROOT_DIR=/usr/local/Cellar/openssl@3/3.1.1
          mkdir build
          cd build
          cmake -DHDF5_ENABLE_ROS3_VFD:BOOL=ON -DHDF5_ENABLE_SZIP_SUPPORT:BOOL=OFF -G Xcode ..
          cmake --build . --config Debug
          ctest --build . -C Debug
          sudo cmake -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_INSTALL_CONFIG_NAME=Debug -P cmake_install.cmake
          